@import "./normalize";

$c-grey: rgba(126, 133, 141, 0.477);
$c-orange:rgb(204, 151, 113);
$c-dark:rgba(47, 47, 47, 1);
$c-grey-w:rgba(170, 172, 171, 0.295);
$shadow: 0px 3px 3px #aaacab94;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

html, body{
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $c-grey-w;
  color: $c-dark;
  height: 100%;
  
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  overflow: hidden;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: content-box;
}


//_____________________________________BTN______________________________

.btn{
  display: inline-block;
  padding: 0.4rem 0.7rem;
  background: #274362;
  opacity: 0.85;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  transition-property: background-color, transform;
  transition-duration: 0s, 0.3s;


      &:hover{
        transform: scale(1.1);
        background-color: #27426286;
}
}

.none {
  display: none;
}
.recover {
  display: block;
  position: absolute;
  height: 80%;
  width: 100%;
  
}

/*________________________________________HEADER______________________*/

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding:2rem 0;

    &__flex{
    display: flex;
    justify-content: space-between;
  
    .header__menu {
      padding: 1rem 1rem 0  0;

      ul{
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;}

        li{
          list-style: none;
           a{
            color: $c-dark;
            text-decoration: none;
            font-size: 1.2rem;
            display: block;
            position: relative;

              &::after{
                content: "";
                background-color: $c-orange;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 1.4rem;
                left: 0;
                transform: translateY(10px);
                transition: 0.4s;
                opacity: 0;
           }
              &:hover::after{
                transform: translateY(0px);
                opacity: 0.8;
              }
              &:hover{
              color: $c-orange;}
            }
            .link-active{
              color: $c-orange;
            }
         }}}}
      

/*_______________________BEGINNING______________________*/

.beginning {
  position: relative;
  height: 100vh;
  margin-bottom: 2rem;
  z-index: 0;


  &__flex{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20%;
    h1{
      color: $c-dark;
      font-size: 2rem;
      font-weight: 500;
      max-width: 42%;
      padding-right: 2rem;
  
    }
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      object-fit:cover;
      opacity: 0.7;
    }
  }

  //______________________________CONTENT___________________


  .content{
    margin-bottom: 2rem;
    font-family: inter;
    &__flex{
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .content__filters{
        min-width: 20%;
        
        .filters__flex {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 1rem;
          background: #FFFFFF;
          box-shadow: $shadow;
          border-radius: 5px;
          h5{
            font-weight: 400;
            font-size: 1rem;
          }
      
          .filter__slider{
            display: inline-block;
            max-width: 100%;
            padding: 0;
          
            input{
              width: 100%;
              
            }
            p{
             font-size: 12px;
      
            }
          }
        }
      }
      .content__cards{
        min-width: 68%;
        .cards__flex{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .card{
            display: flex;
            background-color: #FFFFFF;
            box-shadow: $shadow;
            border-radius: 5px;
            
            &__img{
              position: relative;
              min-width: 30%;
              border-radius: 5px;
              overflow: hidden;
        
              img{
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
              }
            }
              &__descripcion{
              padding: 1rem;
              min-width: 69%;
        
              .card__flex{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                a{
                  text-decoration: none;
                  color: $c-dark;
                  &:hover{
                    color: $c-orange;
                  }
                }
                h4{
                  font-weight: 500;
                 text-transform: uppercase;
                
                }
                .card__details{
                  display: flex;
                  gap: 2rem;
                }
                p{
                  font-family: Inter;
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
  


  //______________________FORM_________________________


  .form__flex{
    background: #FFFFFF;
    margin: 8rem 0 2rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;

    form{
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
      input{
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.205);
        margin-bottom: 1rem;
        &::placeholder{
          font-size: 0.8rem;
        }
      }
      .invalid{
        border:1px solid red;
      }

      .btn__flex{
        display: flex;
        gap: 1rem;
        padding-top: 1rem;
      }
    }
  }
  .form__title{
  font-size: 1.5rem;
  font-weight: normal;
  }
  
  .errors{
    height: 1rem;
    margin-top: -0.8rem;
    p{
      color: red;
      font-size: 0.5rem;
    }
  }

  //___________success____________________________

.message__container{
  .message__flex{
  background: #FFFFFF;
  min-width: 300px;
  margin-top: 8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  
  .message__link{
    text-decoration: none;
    color: $c-orange;
      &:hover{
    color: $c-dark
}
  }
  }
  .none{
    display: none;
  }
}
//__________________________Profile_______________________________------

.profile__flex{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

//____________Stay_____________
.stay_container{
  margin-top: 8rem;
  max-width: 80%;
  .card{
    flex-direction: column;
  }
}

  //___________FOOTER________________________
  footer{
    
    background-color: $c-grey;
    height: 50px;}